.base-text
  %p This is the administration dashboard for EggLogg.
  %p You can manage the resources for your account, news, processes, tasks and competences.

.base-icons
  .btn-group
    .btn.btn-primary{:title => "Posts"}=tag_icon("cogs icon-2x", "Posts")
    .btn.btn-success{:title => "Accounts"}=tag_icon("group icon-2x", "Accounts")
    .btn.btn-info{:title => "Projects"}=tag_icon("tasks icon-2x", "Projects")
    .btn.btn-warning{:title => "Tasks"}=tag_icon("flag icon-2x", "Tasks")
    .btn.btn-danger{:title => "Competences"}=tag_icon("magic icon-2x", "Competences")
