#posts
.post
  .flash=flash_tag(:error)
  %br
  .title About Egglogg
  %br
  %p Egglog is a multipurpose web application for:
  %ul.bulleted
    %li manage projects
    %li log activities
    %li publish directives and news 