#posts
.post
  .flash=flash_tag(:error)
  %br
  .title Welcome in Egglogg
  %br
  %h3 Egglogg's main features
  %ul.bulleted
    %li manage projects
    %li log activities
    %li publish news and directives
  %br
  %h3 The site is currently in early stage of development.
	
   